# Meeting — June 2, 2017

Attendees: alyssa, chreekat, mray, Salt, smichel17, wolftune, iko

## Agenda

### Haskell volunteer onboarding

- wolftune: Haskell volunteers standard to build site and occasional documentation updates but it's smooth... from there, tasks etc. Thoughts? Now with Bryan
- chreekat: No idea
- wolftune: chreekat has a list of stuff, not organized for public consumption: just dump it -> reasonable?
- chreekat: async, after talking, I'll dump it into meeting notes soon
- wolftune: perspective for others.
- chreekat: meeting notes are good place (a lot of irrelevance, bad language, distracting, etc).. but curiousity satisfaction. only 1 channel... 20 haskellers but 1-2 task able to be worked on at a time [poor parallelism]. part of problem, but could go away.
- wolftune: blockers to path?
- chreekat: yes, mechanism
- wolftune: okay, knowing it's there -> work to be done for visualization graphs w/o data, etc
- chreekat: true, design issue, not haskell
- wolftune: design decisions to be done + haskell decision (in pairs)
- chreekat: driven by design
- wolfltune: knowing that helps
- smichel17: is there a list of open design questions?
- wolftune: maybe not, this will help. vague ideas, but not organised enough.
- wolftune: bryan, status updates for mechanism?
- chreekat: work-in-progress merge request <https://git.snowdrift.coop/sd/snowdrift/merge_requests/38> sending -> Stripe.
    - Rate limit for Stripe requests because payments require sending requests for each donor; if there's a lot and they are dumped quickly, Stripe will be upset.
    - Also, dev abstraction sucks (over-engineered; most can be removed easily)
- wolftune: Can other Haskellers help or do we just want to bury it?
- chreekat: Commenting on MR "for this merge request, let's get rid of the crowdmatch sth a bit of overengineering not used..."
- wolftune: OK. Mark that anyone can do this?
- chreekat: <https://git.snowdrift.coop/sd/snowdrift/merge_requests/38#note_763>
- wolftune: A lot of things where others can do things; highlighting it (even without more info) can be useful. What about notifications? Also relevant (emails for events). Not the mechanism -- what is the status for having emails go out (besides registration)? It's fundamental "payment out" from our system, not Stripe, for arbitrary status. Limits hit, change happens, whatever.
- chreekat: Just general notication framework?
- wolftune: Yeah, just for general cases.
- chreekat: Cases?
- wolftune: Money-wise anything should be notified (but that is with Stripe anyway, oh well, should still be us). Not just _that_ they were charged, but which projects and how much? a status summary
- chreekat: Put it on the roadmap, then.
- Salt: off-topic *grumble*
- wolftune: Is this already there for other Haskellers can work on? Mechanism is not needed.
- chreekat: brainstorming haskell tasks is awesome.
- Salt: move forward, though -- do it offline.
- smichel17: possible volunteer task: simplify dev abstraction {for stripe payments}?
- **Next step: chreekat, wolftune and others interested have a meeting to generate haskell tasks for haskellers**


### front-end/backend plans for codebase

- Salt: Bryan, significant to talk about here today?
- wolftune: Clarity needed between frontend people, what the frontend people want (like Hamlet) and the status with everybody else.
- Salt: moving over current alpha design (functional), merging it into main versus being worked on separately and being merged later on.
- wolftune: Merging assumes codebase is as-is... OK, but long-term goal? Putting off merging is ok. Haskell plan maybe matters more, esp with non-Haskeller volunteers.
- chreekat: Will be figured out once the prototype is actually integrated into codebase. Did michel do work on that? Somebody needs to, and then questions will be answered.
- wolftune: Partially done. Others are hacking on it. Do we integrate now or later?
- chreekat: Not a long term relevance.
- iko: Reminder -- alpha UI prototype can't be merged into master because of dashboard variables etc that aren't setup with backend yet, so it's hanging
- Salt and like 3 others: can we just do that as a placeholder for now?
- chreekat: That's the issue, anyway. We need to do that to merge.
- iko: No opinion about merging, but this matters.
- chreekat: Not a global discussion topic. We just need to do it. Code questions can't be answered without the code. Is there a MR? etc
- wolftune: There's a branch. I'll open an MR.
- **Next steps:** Open a WIP MR for the alpha-ui branch
- uri to start MR: <https://git.snowdrift.coop/sd/snowdrift/merge_requests/new?utf8=%E2%9C%93&merge_request%5Bsource_project_id%5D=1&merge_request%5Bsource_branch%5D=alpha-ui-design&merge_request%5Btarget_project_id%5D=1&merge_request%5Btarget_branch%5D=master>

### Video status

- mray: Short meeting with Johannes allowing for more input. He'll put enough time into it to finish (or close). He's up to speed on changes since he left. we still need a last take on audio, one part. Quality concerns. Timing isn't really an issue. But outstanding issues.
- wolftune: Not-final is a blocker for visual?
- mray: Video is based on two audio takes. Using them together sounds awkward, need one for final video.
- wolftune: Recent audio I recorded with updated simplified script was just one take (?) was it split.
- mray: Somewhat ready. Just missing the last part, but that part has new audio. Depending on how well Johannes fits it, it's maybe a problem? Just a status update. I would need a new take with all-in-one.
- wolftune: Slightly awkward audio with complete visual is okay for now, just to see what we're looking for (before timing is dealt with)
- mray: I don't understand.
- wolftune: The process is: a script -> audio -> story board visual with audio -> review of the story board -> final draft
- mray: OK, we're working with what we have. All I want to note is that for the final video we need final audio (new take to fit perfectly).lel, but permission for visual to split up words, time stretching, w/e just to make visual have good timing flow. I can do final however you need. Push in both ways.
- mray: Will tell Johannes. I still need to get in touch with JazzyEagle who posted an audio link.
- wolftune: On music, opinion as musician is that ideal is timing is solid on visual/audio flow for the script *first*, so we can amtch the timing exactly. We'll compose for the video specifically.
- mray: It's an option, depends on resources and timing and so on. Other tracks might fit. Johannes's decision ultimately. We'll look at it holistically later.
- wolftune: Filler tracks for inspiration is common to just get a feel.
- **Next step: mray updates Johannes on status from meeting**


### Task list reviewing, check-ins, public list of assigned tasks

- wolftune: My broad thing is the first example: we come up with tasks at meetings (I like the progress where we review outstanding tasks from previous meetings). I want to take those assignments and ensure that Taiga is up to date, so there is one place to see everything. I know I'm not at that point -- just need to do it. [Mea culpa] General value of everyone knowing what everyone is working on. Grasping for straws here... would anyone like to work on it with me?
- Salt: Vaguely relates to question of "actual tasks moving into gitlab etc"
- wolftune: relevant: which notes are stored where?
- smichel17: bryan, current thoughts on gitlab versus big migration?
- chreekat: really, I don't want to migrate anything. I just want it to be organic. Taiga can be organisation-wide place for everything. It doesn't mean gitlab won't have issues tracked, but whole level issues should be in Taiga. (Gitlab is just for engineering)
- wolftune: Clarify -- gitlab is workspace for code whereas Taiga is project management?
- chreekat: Project owns/is accountable for taiga; engineering team owns Gitlab.
- wolftune: Cool
- smichel17: Why not just have those tasks as issues on other repos? But whatever. Producitivty is better than bikeshedding.
- chreekat: Accountability matters for systems. Each team owns its own system, If they want to change it, they can do so. Having engineering workspace is nice.
- alyssa: Are there automated tools for migration?
- all: nope, nope >\_<

#### Specifically, how well do taiga/wiki/etc reflect current status of things?

- wolftune: Taiga is usable, but it takes hand-holding to just go on and work on it, build that habit. It's fine organically, though. Engineering requirement: Auditability is more important than anything (versus notes on Bryan's system)
-**Next step: alyssa and wolftune (smichel17 too) work together to organise some of the tasks; issues will come up organically after that**

### Open Source Bridge / Indie Web Summit

- Salt: Coming up soon in Portland. Will be there (whenever it is)
- wolftune: 2.5 weeks out. 20s. Volunteer orientation is on the 19. Ends 25. Nothing really to discuss. Unusually busy, but bringing up old tasks might help. We can discuss it. Otherwise, let's just look at the schedule and plan a Snowdrift meeting on some evening, announce it, and see what happens. Would we want to think about a weekday evening or an unconference thing? Probably both.
- alyssa: unconference would be easier for me, I think
- Salt: unconference meaning scheduling something at OSB? Sounds okay, but I need tickets and whatever. "On a squeeze", but I'll be there, at least through the weekend. But during the unconference, I'll need to be careful schedule due to IWS leadership.
- wolftune: Let me know as soon as possible.
- Salt: Mostly all day, but I'll check. (Or I'll skip out \ o /)
- wolftune: Still a competition about space, so I can't reserve anything soon.
- **Next step: wolftune looks over schedule for OSB and mention on IRC (if help is needed) to figure out when we're meeting**


### Jitsi?

- mray: We should try Jitsi again?
- wolftune: A lot has been updated (I have a different system too). It's possible it'll work? Who knows. There are some niceties, like moderators muting people, hand raising, video and screensharing, etc. We should try it sometime, but maybe not the formal meeting.
- alyssa: Would we be self-hosting or using meet.jit.si?
- wolftune: Probably not, unless somebody wants to do it.
- alyssa: Decentralisation is a big deal for me.
- wolftune: Eh, have to pick our battles.
- Salt: the last time I tried to use with a crowd (last week), the call quality went downhil for me. also have tried talky.io, which works nicer.
- wolftune: Doesn't have any bells/whistles. Maybe not even a next step now. Casual playing when we have time. Maybe no decision yet, unless we're optimistic.


### Carried-over next steps

- Salt to insert Ghost Docker Container
- Salt to check with MitchellSalad about SSO
