---
title: The Status Quo in Journalism
categories: market-research
...

## Problems facing the industry

Print journalism, in particular newspapers and news magazines, has been in slow decline since the 1970s, when broadcast media began to surpass it as the primary news source for most of the population.^[<http://www.naa.org/Utilities/FramePage.aspx?itemid={0E815AF6-7BC0-4E6B-B056-47B2BCE56C3F}&fld=SourceHTML>] In response to declining readership, many publications refocused their business strategy on upmarket consumers, who (with more disposable income) were a more attractive audience for advertisers, closed bureau offices and cut reporting staff in order to focus on lifestyle stories, and consolidated publications (to the extent that 98% of cities with an extant daily newspaper have only one local news outlet, and many of those are owned by national chains).^[<http://www.uiowa.edu/~c019095/ownershp.htm>]

This trend has accelerated since the introduction of Internet news sources in the 1990s, leaving many newspapers and magazines struggling to create online editions that could compete with independent blogs and aggregation sites such as Digg. It has reached epidemic proportions since 2006 as the advertising market print media relied on to cover operating costs has collapsed, especially with the rise of Craigslist and the associated decline in print classified ads.^[<http://www.sfbg.com/40/18/x_editors_notes.html>] Many cities have seen their newspapers go from published daily, to restricted to the more profitable weekend editions, to weekly publication only.

While print media are in the most dire straits, the transition to online media and the decreasing viewership of network news compared to 24-hour cable news channels has also threatened the business model of local television stations. In response, stations have emphasized sports, weather, and traffic and reduced the length of news items, most to under a minute.^[<http://stateofthemedia.org/2013/the-changing-tv-news-landscape/>] Since interview or lifestyle pieces are less expensive to produce than reporting, those segments have been on the rise as advertising revenue (except for revenue from political ads, which comes with its own problems) has continued to decline.

Two areas have been identified by the journalism community as under particular threat in the current climate: long-form investigative reporting and city- and county-level news in communities that are now considered too small to support a traditional daily paper. Investigative reporting is an important source of public accountability but requires up-front investment and may take considerable time (often longer than the reporter originally anticipated) to produce results. Local news items may have significant impacts on everyday life (such as city council decisions that determine what streets get repaved) but draw an inherently limited audience and thus reduced possibilities for ad or subscription revenue.

## Common ways of dealing with these challenges

* **Paywalls.** A solution favored by many existing outlets is to offer limited online content on a free or ad-supported basis, while promoting paid access to more detailed coverage or to back issues. While this has allowed some papers to make up for declining subscription revenue, it still favors up-market consumers and established outlets that have large, potentially valuable archives. It is also clearly antithetical to FLO ideals of free and open access, and does nothing to free material from copyright monopoly.

* **Online advertising.** Most online news sources use banner ads as at least one source of revenue—sometimes the primary source. A major problem is that bulk of revenue from Internet marketing comes from search results, and advertisers have many potential banner ad locations, not just news outlets.^[<http://stateofthemedia.org/2011/online-essay/>] In order to increase online ad revenues to make up for declining print ads, some papers have turned to targeted ads, which use detailed demographic and site use data to select ads tailored to a particular consumer and command a higher price. This (often undisclosed) manipulation of user tracking goes against FLO web privacy principles. Reliance on advertising creates serious conflicts of interest for journalists as well, although that is by no means a new issue.

* **Sponsored content.** The next step up from banner ads is the “infomercial approach”, directly involving sponsors in the content creation process. This usually takes the form of running articles written by or commissioned by advertisers, perhaps without clear indications that money has changed hands. *The Atlantic* suffered a serious reader backlash after running a sponsored article by the Church of Scientology that many took to be an editorial opinion piece/^[<http://www.poynter.org/latest-news/mediawire/202316/atlantic-introduces-sponsored-content-guidelines-that-address-the-scientology-incident/>] [Contently](https://contently.com/)'s entire business model revolves around producing and managing content that builds particular brands' media image. This business model obviously does not serve the public interest of integrity and independent reporting.

* **Outsourcing.** Many newsrooms have become increasingly reliant on pulling articles from wire services, reproducing social media content from Twitter or Facebook, or even outsourcing routine news items (such as high school sports and obituaries) to distant aggregation services like [Journatic](http://journatic.com/), which recruits its writers for pennies a story in the Philippines.^[<http://www.poynter.org/latest-news/top-stories/179555/journatic-staffer-takes-this-american-life-inside-outsourced-journalism/>] Besides the concerns about exploitation of workers in the developing world, this degrades the quality of journalism by reducing editorial freedom and the possibility of fact-checking.

## Recent proposed solutions

* **[Spot.us](http://www.spot.us/).** An attempt at creating a time-limited, threshold-based crowdfunding site specifically for long-form investigative journalism projects. While it had some success in helping freelance journalists raise funds for pieces that would eventually run in established non-profit news outlets like the [San Francisco Public Press](http://sfpublicpress.org/), most projects were not able meet their funding thresholds in time, and those that did often failed to meet the publication deadlines they had established for themselves. Ultimately, funding investigative journalism on a per-story basis may be an unsustainable model.

* **[ProPublica](http://www.propublica.org/).** A successful non-profit investigative journalism project that has partnered with public radio and television programs as well as established for-profit outlets. Stories are also publicly accessible from the ProPublica and are freely available for reproduction, although only under the most restrictive Creative Commons license, [CC-BY-NC-ND](http://creativecommons.org/licenses/by-nc-nd/3.0/). The organization is funded partly through public donations but mostly through major philanthropic grants.

* **[Banyan Project](http://banyanproject.coop/).** An attempt to develop a franchisable consumer cooperative model for local online newspapers, with a pilot project in Haverhill, MA, a mid-size city with no daily newspaper. Consumer-owned cooperative newspapers have long been successful in [other](http://www.jornada.unam.mx/ultimas/) [countries](http://www.taz.de/), but this is a new model in US journalism. All articles would be available free of charge but use of the site's more advanced civic engagement features would be restricted to paid subscribers or to citizen-reporter contributors. Unfortunately, the business model for the umbrella franchise cooperative is based around licensing its proprietary content management/social media/backoffice software package.

* **[Patch.com](http://www.patch.com).** A network of ~900 hyperlocal news sites owned by AOL,^[<http://www.niemanlab.org/encyclo/patch/>] with a mix of paid reporting and stories contributed by the general public. While AOL has been careful to aim for up-market areas more likely to attract the interest of advertisers, the profitability of this model has still been called into question given the revenue generated compared to initial investment, and multiple plagiarism scandals have called into question the quality of the reporting produced.^[<http://www.forbes.com/sites/jeffbercovici/2012/05/24/the-case-against-aol-in-numbers/>]

* **[FOIA Machine](http://www.foiamachine.org/).** An admirable FLO software project designed to open up and streamline the long and complex Freedom of Information Act request process (a vital tool in investigative journalism). [FOIA Machine](https://www.foiamachine.org/) ran a successful Kickstarter campaign and has also received grants from organizations like the Knight Foundation, but they admit they will need a continuing cash flow in order to handle server and data expenses and are not yet sure how they would obtain it.

* **[Document Cloud](http://www.documentcloud.org/home).** Another admirable FLOSS project funded by the Knight Foundation and focusing on lowering the cost of the backend needs of journalism. Document Cloud allows journalists to upload and manage original source documents used in their reporting (including partially automating indexing and identifying particularly important passages), which are private to the journalist's newsroom until the story is ready to be published, at which time the software helps to produce embedding code to post on a website. This also provides technical support for another movement Snowdrift.coop believes in, Open-source journalism, where original sources for stories are made public whenever feasible. The one major drawback to Document Cloud is that it allows proprietary contributors to put their embedded documents behind a proprietary paywall.

* **[Beacon Reader](http://www.beaconreader.com).** A subscription system where a $5 monthly commitment means access to anything in the system. Readers choose who to support and can give more than the minimum. Writers are currently (as of mid-2014) invitation only.

* **[Contributoria](http://contributoria.com)** was a reader-funded journalism site which produced 21 issues before shutting down. In their system, writers (primarily journalists) proposed items that got voted on by paid members of the system who had points alloted to them. If enough votes supported a proposal, then it got written using collaborative tools that encourage feedback, editing, and high quality. Finished writings were then published and writers get some of the system-wide funding pool from membership fees proportional to their votes in some way. The final published works are still available but as licensed CC-BY-NC (which is shareable but causes compatibility problems and other issues, see [why NC is not FLO](/about/why-flo#nc)).

## How Snowdrift.coop could change journalism

One of the central paradoxes in the economics of journalism is that in order to produce news worth paying for, a critical mass of readership and financial support is required. Our matched pledging model makes it easier to identify which journalists generate the interest and enthusiasm necessary for success (see our article on [positive competition](/about/compete)). Like the Associated Press, we want to leverage the “network effect”, where the number of nodes in the system scales arithmetically but the value of the connections between them scales geometrically. This provides the possibility for successful teams of journalists and publishers to earn a fair wage for their work without resorting to problematic pay-per-view models nor restrictive licensing. We also hope to reduce reliance on advertising and move the focus toward creating meaningful news content rather than merely generating the greatest number of views.

Like the Banyan Project, we believe that the co-operative business model may be the salvation of an essential industry that otherwise seems nonviable in the present marketplace. However, we also believe that the non-rivalrous technological infrastructure to support journalism should not be arbitrarily restricted. Spot.us could be (or could have been, depending on whether or not the site survives) a valuable adjunct to the Snowdrift.coop monthly revenue stream, in order to raise money for particular high-profile projects, but our pledging system puts the emphasis on long-term results rather than a single deadline-dependent story. While we support ProPublica's efforts to draw attention to issues of public interest, we also question the long-term sustainability of their grant-based funding model and the problems inherent in their restrictive licensing. Ultimately, we aim to combine the best features of all of these models to produce a civic-minded business model with long-term sustainability.
