//--------------------------------------------------------------------------//
// Variables                                                                //
//--------------------------------------------------------------------------//

// Breakpoints (px)
// $break-mn is the main breakpoint
// based on the main column width of 75rem
$break-m2: 300
$break-m1: 480
$break-mn: 750
$break-p1: 1200

// Container layouts
$layout-mn: (container: $break-mn/10 * 1rem, gutter: 3rem, columns: 1)
$layout-sidebar-m1: (container: $break-m1/10 * 1rem, gutter: 3rem, columns: 2)
$layout-sidebar-mn: (container: $break-mn/10 * 1rem, gutter: 3rem, columns: 3)

$font-size-mn: 62.5%


//--------------------------------------------------------------------------//
// Media queries: layout                                                    //
//--------------------------------------------------------------------------//

+respond($break-m2)
    html
        font-size: $font-size-mn - 5.0
    // Main column width expands with screen width
    .mainCol
        max-width: 100%
        margin-right: map-get($layout-mn, gutter)
        margin-bottom: 6rem
        margin-left: map-get($layout-mn, gutter)

+respond($break-m1)
    html
        font-size: $font-size-mn - 2.5

+respond($break-mn)
    html
        font-size: $font-size-mn
    // Fixed main column width from this point up
    .mainCol
        max-width: map-get($layout-mn, container) - (map-get($layout-mn, gutter) * 2)
        margin-left: auto
        margin-right: auto

+respond($break-p1)
    // Fixed container width
    .container
        width: $break-p1/10 * 1rem
        margin: 0 auto
    // Align with sidebar
    .mainCol
        display: inline-table


//--------------------------------------------------------------------------//
// Media queries: blocks and pages                                          //
//--------------------------------------------------------------------------//

// $break-m2 ---------------------------------------------------------------//
+respond($break-m2)

    // Sidebar: full-width sections below main column
    .sidebar
        width: 100%
        height: auto
        margin: 3rem 0
        section, form
            margin: 0 auto
            text-align: center
        // Larger sidebar home icon
        .icon
            max-width: 18rem
            margin: 3rem auto
            img
                max-width: 18rem
        #exportbox
            margin: 1rem auto 0
            select, div.select
                margin: 0 auto
            input#export
                margin: 1rem auto 3rem

    // Horizontal scrolling table
    table, thead, tbody, thead tr, th, td
        display: block
    table
        position: relative
        width: 100%
        font-size: 1.2rem
    thead
        float: left
        width: 33%
        th
            padding: 0.5rem 1rem
            height: 3rem
            border: 0
    tbody
        width: auto
        position: relative
        overflow-x: auto
        white-space: nowrap
        tr
            display: inline-block
            vertical-align: top
            white-space: normal
            td
                height: 3rem
            // Invert table stripe colors
            &:nth-child(odd), &:nth-child(even)
                padding: 0
                background: $white
                border-right: 0.3rem solid $blue-table-header
            & :nth-child(even)
                background: $gray-table-row
        th
            text-align: right
        td
            text-align: left
            padding: 0.5rem 1rem

    // Smaller spacing between menu tabs
    ul.tabs li
        margin-right: 1.5rem

    // Category labels span column width
    #categoryList
        ul
            margin: 3rem 0 6rem
        ul > li
            display: block
            text-align: center
            margin: 1.5rem 0

    // Align _edit form buttons
    #editform input[type='submit'], #editform input[type='button']
        display: inline
        margin: 3rem 0.3rem 3rem 0

    // Hide markup help
    div.markupHelp
        display: none

    // Scrolling code view
    .sourceCode *, .sourceCode tr :nth-child(2n)
        margin: 0
        padding: 0
        text-align: left
        background: transparent
        font-size: 1.5rem
        line-height: 1.5
    table.sourceCode
        font-size: 1.5rem
    .sourceCode
        thead
            float: none
            width: auto
            tr
                display: table-row
            th
                height: auto
                padding: 1rem 2rem
        tbody
            white-space: normal
            margin: 0 1rem 0 0
            tr
                display: table-row
                td
                    display: table-cell
        th, td
            text-align: center
    code.sourceCode
        padding: 0 1rem 0 1rem
    tr.sourceCode td.sourceCode, code.sourceCode
        background: $bright-blue
    td.lineNumbers pre
        padding: 0 1rem 0 0
        border: 0
        text-align: right
        line-height: 1.28

    // Resize upload form fields
    input#file, input#wikiname, input#logMsg
        width: 100%
        font-size: 1.5rem


// $break-m1 ---------------------------------------------------------------//

+respond($break-m1)

    // Category labels do not fill main column width
    #categoryList ul > li
        display: inline
        margin: 0 1.5rem 0 0

    // Sidebar: 2-col layout below main column
    .sidebar
        +content($layout-sidebar-m1)
        section, form
            margin: 0
            text-align: left
        .icon
            margin: 0 auto
            float: none
        .wikiNav
            +cspan(1, $layout-sidebar-m1)
            // Add left margin as though first-child
            margin-left: map-get($layout-sidebar-m1, gutter)
        .wikiPageTools
            +cspan(1, $layout-sidebar-m1)

        #exportbox
            select, div.select
                margin: 0
            // Button align left
            input#export
                margin: 1rem 0 3rem

    // More spacing between menu tabs
    ul.tabs li
        margin-right: 3rem


// $break-mn ---------------------------------------------------------------//

+respond($break-mn)

    // Fixed top nav width
    nav
        width: $break-mn/10 * 1rem
        margin: 0 auto

    // Sidebar: 3-col layout below main column
    .sidebar
        +content($layout-sidebar-mn)
        .icon, .wikiNav, .wikiPageTools
            +cspan(1, $layout-sidebar-mn)
        .icon
            margin: 4rem 6rem 0 0
        // Reset left margin from previous break
        .wikiNav
            margin-left: 0

    // Restore vertical table
    table
        font-size: 1.5rem
    thead
        display: table-header-group
        float: none
        width: auto
        tr
            display: table-row
        th
            height: auto
            padding: 1rem 2rem
    tbody
        display: table-row-group
        overflow-x: hidden
        white-space: normal
        tr
            display: table-row
            td
                display: table-cell
                padding: 1rem
    th, td
        display: table-cell
        text-align: center

    // Revert stripes
    tr.header
        border-bottom: 0.1rem solid $dark-blue
    tbody
        tr
            &:nth-child(odd), &:nth-child(even)
                border: 0
            &:nth-child(even), &:nth-child(even) &:nth-child(even)
                background: $gray-table-row
            & :nth-child(even)
                background: unset



// $break-p1 ---------------------------------------------------------------//

+respond($break-p1)

    // Sidebar: 1-col layout to the left of main column
    .sidebar
        width: 21rem
        position: relative
        float: left
        margin: 3rem
        .icon, .wikiNav, .wikiPageTools
            margin: 0 !important
            float: none
        .icon img
            margin: 0
            // Smaller sidebar home icon
            max-width: 18rem

    // Resize table font
    table *
        padding: 1rem 0.5rem
        font-size: 1.5rem

    // Resize markup help sheet text
    div.markupHelp
        display: block
        pre code
            font-size: 1.2rem

    // Resize upload form fields
    input#file, input#wikiname, input#logMsg
        width: 65.71%
